.card-container {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: #f3f3f3;
  border-radius: 24px;
  width: 100%;
}

.subtitle {
  color: #8a8a89;
}

.card-img-block-wrapper {
  display: flex;
  max-width: 120px;
  max-height: 96px;
  position: relative;
  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  background-color: var(--white);
}

.card-avatar {
  max-width: 96px;
  max-height: 96px;
  padding: 12px;
  border-radius: 15px;
}

.card-span-status {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid var(--white);
  background-color: var(--element-color);
  border-radius: 50%;
  right: 10px;
  top: 10px;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.subtitle-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-character {
  display: flex;
  gap: 5px;
  height: 22px;
  align-items: start;
}

.star {
  fill: #ffc531;
  width: 18px;
  height: 18px;
}

.heart {
  width: 20px;
  height: 20px;
}

.price {
  color: var(--element-color);
}

.span {
  color: #ffffff;
}

.basic-info-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.basic-info-wrapper > p {
  display: inline;
  background-color: var(--white);
  padding: 8px 16px;
  border-radius: 24px;
}

.basic-info-wrapper > p > span {
  color: #8a8a89;
}

.basic-info-container > p {
  font-weight: 400;
  line-height: 125%;
  color: rgba(25, 26, 21, 0.5);
}

.read-more-button {
  border: none;
  text-decoration: underline;
}

.appointment-button {
  border-radius: var(--button-radius);
  padding: 18px 50px;
  background-color: var(--element-color);
  color: var(--white);
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.appointment-button:hover {
  background-color: var(--element-color-hover);
}

.btn-cont {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.review-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}
